<ng-container [formGroup]="group">
    <app-label *ngIf="label"
               [label]="label"
               [class]="label.classes"
               [forElement]="labelFor">{{label.text}}
    </app-label>
    <app-hint *ngIf="hint" [classes]="hint.classes">
        {{hint.text}}
    </app-hint>
    <input [class]="'govuk-input ' + item.classes"
           [formControlName]="item.control"
           [placeholder]="item.placeholder"
           [id]="item.control"
           [name]="item.control"
           type="text"
           (blur)="showValidation = true">
    <ng-container *ngIf="validators && showValidation">
      <app-validation-error-formcontrol [group]="group" [validators]="validators" [control]="item.control"></app-validation-error-formcontrol>
    </ng-container>
</ng-container>
