<ng-container [formGroup]="group">
    <app-label *ngIf="label"
               [label]="label"
               [class]="'govuk-label ' + label.classes"
               [forElement]="labelFor">{{label.text}}
    </app-label>
    <textarea [class]="classes"
              [ngClass]=""
              [rows]="rows"
              [id]="labelFor"
              [attr.aria-label]="labelFor"
              [formControlName]="control"></textarea>
    <ng-container *ngIf="validators && showValidation">
      <app-validation-error-formcontrol [group]="group" [validators]="validators" [control]="control"></app-validation-error-formcontrol>
    </ng-container>
</ng-container>
