<ng-container [formGroup]="group">
    <app-label *ngIf="label"
               [label]="label"
               [class]="'govuk-label ' + label.classes"
               [forElement]="labelFor">{{label.text}}
    </app-label>
      <ng-container *ngIf="validators && showValidation">
        <app-validation-error-formcontrol *ngIf="showValidation" [group]="group" [validators]="validators" [control]="item.control"></app-validation-error-formcontrol>
      </ng-container>
    <textarea [class]="classes"
              [ngClass]="{'govuk-textarea--error':isControlInvalidAndShowValidation(group, control, showValidation) || isGroupInvalidAndShowValidation(group, showValidation)}"
              [rows]="rows"
              [id]="labelFor"
              [attr.aria-label]="labelFor"
              [formControlName]="control"></textarea>
</ng-container>
